/* AmountTransfer.module.css */
body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #0d193b;
  color: white;
  padding: 20px;
  position: fixed;
}

.profile {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.email {
  font-size: 14px;
  color: #aaa;
}

.cardContainer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.card {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.cardDetails {
  margin-top: 20px;
}

.amountTransferContainer {
  width: 100%;
}

.transferItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.transferIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 24px;
  color: white;
}

.cardIcon {
  background-color: #00c4cc;
}

.bankIcon {
  background-color: #ffcc00;
}

.walletIcon {
  background-color: #ff6600;
}

.wallet2Icon {
  background-color: #9c27b0;
}

.transferText {
  font-size: 18px;
}

.viewAllButton {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-radius: 64px;
  border: 1px dashed #C893FE;
  background: #1D3160;
  cursor: pointer;
  margin-top: 30px;
}

.viewAllButton:hover {
  background-color: #1c2a4a;
}
