

.signup-email {
  border-radius: 0px 4px 4px 0px;
  border-left: 4px solid #ffe344;

  background: #2d3250;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
}

.signup-pass {
  border-radius: 0px 4px 4px 0px;
  

  background: #2d3250;
  /* width: 534px; */
  height: 48px;
  flex-shrink: 0;
}

.signup-username {
  border-radius: 0px 4px 4px 0px;

  background: #2d3250;
  /* width: 90%; */
  height: 48px;
  flex-shrink: 0;
}

.signup-mobile {
  border-radius: 0px 4px 4px 0px;

  background: #2d3250;
  /* width: 534px; */
  height: 48px;
  flex-shrink: 0;
}

.signup-company {
  border-radius: 0px 4px 4px 0px;

  background: #2d3250;
  /* width: 534px; */
  height: 48px;
  flex-shrink: 0;
}

.signup-btn {
  /* width: 534px; */
  height: 48px;
  flex-shrink: 0;
  border-radius: 4px 4px 4px 4px;
}

.signup-img img {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(255, 227, 68, 0));
  transition: filter 0.3s ease;
}

.signup-img:hover img {
  filter: drop-shadow(0 0 20px rgba(255, 227, 68, 0.8));
}

.founder {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 4px;
  align-items: center;
  gap: 12%;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2d3250;
}

/* .for-founder {
    display: flex;
    width: 258px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #43456b;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } */

.for-investors {
  display: flex;
  /* width: 258px; */

  justify-content: center;
  align-items: center;

  border-radius: 4px;

  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.img-text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 243px;
}



.relative {
  position: relative;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  /* padding-right: 40px; */
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-toggle svg {
  fill: #fffdfd;
}




.toggle-box {
  cursor: pointer;
  /* transition: all 0.2s ease-in; */
}

.live {
  display: flex;
  width: 50%;
  height: 95%;
  padding: 0 2rem ;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-shrink: 0;
  border-radius: 4px;
  background: #43456b;
  color: #fff;
  font-family: Montserrat;
  line-height: normal;
}